.telaCorretor{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E1DBDB;
    height: 100vh;
    width: 100%;

    .cabe{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 25px 70px;
        width: 100%;

       .esquerda {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        #logo{
            width: 90px;
        }
        .infos{
            display: flex;
            flex-direction: column;
            text-align: center;
            

            h1{
                font: 700 22px/20px poppins;
            }
            p{
                font: 400 22px poppins;
            }
        }
       }

       .direita{
        display: flex;
        flex-direction: row;
        gap: 25px;
        align-items: center;

        button{
            padding: 10px 30px;
            background-color: #FF0000;
            color: #E9DDD1;
            border-radius: 13px;
            border: 3px solid transparent;
            cursor: pointer;
            font: 600 16px poppins;
            transition: .3s;
        }

        button:hover{
            transform: scale(1.02);
            border: 3px solid red;
            background-color: transparent;
            color: red;
            
           }
           button:active{
            transform: scale(1.0);
            background-color: red;
            color: #fff; 
           }
       }
    }

    .card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 10px;
        padding: 50px 50px;
        width: 90%;
        background-color: #fff;

        .esquerdaCard{
            display: flex;
            flex-direction: column;
            gap: 15px;
            
            h1{
                font: 500 32px poppins;
                span{
                    color: #FF0000;
                }
            }

            .infos{
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;    
                
                p{
                    font: 500 18px poppins;
                    span{
                        color: #FF0000;
                    }
                }
            }
        }

        .direitaCard{
            display: flex;
            flex-direction: column;
            gap: 20px;

            button{
                padding: 10px 30px;
                background-color: #FF0000;
                color: #E9DDD1;
                border-radius: 7px;
                border: 3px solid transparent;
                cursor: pointer;
                font: 600 16px poppins;
                transition: .3s;
            }
    
            button:hover{
                transform: scale(1.02);
                border: 3px solid red;
                background-color: transparent;
                color: red;
                
               }
               button:active{
                transform: scale(1.0);
                background-color: red;
                color: #fff; 
               }
        }
    }

    .seccao2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        width: 100%;
        margin: 50px 0px;

        .bloco{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-bottom: 80px;
            gap: 10px;

            h1{
                font: 400 27px poppins;
            }

            p{
                font: 300 20px poppins;
                background-color: #fff;
                border-radius: 7px;
                padding: 40px;
            }
        }
    }

    .rodapeCorretor{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        align-items: center;
        

        .titulo{
            width: 90%;
           h1{
            padding: 50px;
            font: 400 40px poppins;
           }
        }

        .lupa{
            margin: 50px 0px 20px 0px;
            position: relative;
            input{
                width: 400px;
                height: 40px;
                border-radius: 10px;
                border: 1px solid gray;
                padding: 8px 5px 8px 30px;
                font: 400 20px poppins;
                
            }

            img{
                position: absolute;
                top: 12px;
                left: 10px;
            }
        }

        .table{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 100px;
        
            .tabela{
                border-collapse: collapse;
                margin: 25px 0;
                font-size: 0.9em;
                width: 85%;
                border-radius: 5px 5px 0 0 ;
                overflow: hidden;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        
                thead tr {
                    background-color: #FF0707;
                    color: #fff;
                    text-align: center;
                    font: 500 16px poppins;
                    
                   
                }
                th{
                    width: 200px;
                    padding: 10px 0px;
                    
                }
        
                td{
                    padding: 15px 15px;
                    color: #000000;
                    text-align: center;
                    font: 500 16px poppins;
                    background-color: #fff;
                    
                    #lixeira {
                        width: 30px;
                        height: auto;
                        cursor: pointer;
                    }
                    #editar {
                        width: 30px;
                        height: auto;
                        cursor: pointer;
                    }
                }
        
                tbody tr {
                    border-bottom: 1px solid #dddd;
                    
                }
        
                tbody tr:last-of-type {
                    border-bottom: 2px solid #EF7C1D;
                }
        
                tbody tr.active-row{
                    font-weight: bold;
                    color: #009879;
                }
        
            }
        
        }
    }

    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); // Fundo transparente escuro
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000; // Para garantir que fique por cima dos outros elementos

        .popup-content {
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); // Sombra
            width: 400px;
            max-width: 90%;
            text-align: center;

            .preview {
                border: 1px solid #00000025;
                box-shadow: 0px 0px 10px #00000025;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: 10px auto 30px auto;
            }

            .foto {
                width: 50%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
                margin: 0px auto;
            }

            h2 {
                margin-bottom: 20px;
                color: #333;
                font-size: 24px;
            }

            label {
                display: block;
                font-size: 14px;
                margin-bottom: 5px;
                text-align: left;
                color: #666;
            }

            input {
                width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
            }

            .popup-buttons {
                display: flex;
                justify-content: space-between;

                button {
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    font-size: 16px;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &:first-child {
                        background-color: #28a745; 
                        color: white;
                    }

                    &:first-child:hover {
                        background-color: #218838;
                    }

                    &:last-child {
                        background-color: #dc3545; 
                        color: white;
                    }

                    &:last-child:hover {
                        background-color: #c82333;
                    }
                }
            }
        }
    }
}